.containerItens {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.title {
  width: 50px;
  font-size: 0.8rem;
}

.photo {
  height: 150px;
}